[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/fuzzylogiq/fuzzylogiq.github.io
[submodule "themes/hugo-journal"]
	path = themes/hugo-journal
	url = https://github.com/damiencaselli/hugo-journal
